@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    /* Light mode background */
    --foreground: 210 12% 16%;
    --muted: 0 12% 90%;
    --muted-foreground: 215 20.2% 43%;
    --popover: 0 0% 97%;
    --popover-foreground: 210 12% 6%;
    --card: 0 0% 98%;
    --card-foreground: 210 12% 11%;
    --border: 0 0% 95%;
    --input: 0 0% 92%;
    --primary: 210 13% 21%;
    --primary-foreground: 210 13% 81%;
    --secondary: 210 3% 75%;
    --secondary-foreground: 210 3% 15%;
    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 25%;
    --destructive: 9 92% 38%;
    --destructive-foreground: 0 0% 100%;
    --ring: 210 13% 21%;
    --chart-1: 210 13% 21%;
    --chart-2: 210 3% 95%;
    --chart-3: 0 0% 85%;
    --chart-4: 210 3% 78%;
    --chart-5: 0 0% 98%;
    --progress: 142, 69%, 58%;
    --skillRounded: 210, 13%, 21%, 0.1;
    --techs: 210, 13%, 21%, 0.8;

  }

  [data-theme="dark"] {
    --background: 221, 46%, 8%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 210 40% 98%;
    --chart-2: 253, 27%, 6%;
    --chart-3: 217.2 32.6% 17.5%;
    --chart-4: 253, 22%, 17%;
    --chart-5: 0deg 0% 13.73%;
    --progress: 142, 72%, 29%;
    --skillRounded: 210, 13%, 35%;
    --techs: 276.4deg 92.59% 68.24%;
  }

  * {
    @apply border-border scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Scrollbar */
* {
  scrollbar-width: thin;
  /* Width of the scrollbar */
  scrollbar-color: var(--primary);
  /* Color of the thumb and track */
}

::-webkit-scrollbar-track {
  background-color: var(--foreground);
  /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  /* Color of the scrollbar thumb */
  opacity: 0.6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
  /* Color of the scrollbar thumb */
  opacity: 1;
}


@layer utilities {

  /* START of Typography */
  .base-bold {
    @apply text-[16px] font-bold leading-[24px];
  }

  /* END of Typography */

  /* Image  */
  .bg-outline-filter {
    filter: invert(1) sepia(1) saturate(1) hue-rotate(180deg) !important;
    opacity: 0.2;
  }

  /* START of Button */

  .button {
    @apply !w-5 !h-5;
  }

  .button-small {
    @apply !w-4 !h-4;
  }

  /* END of Button */

  /* START of Common */
  .container {
    @apply mx-auto max-w-[1252px] px-16 max-xl:px-10 max-lg:px-6 max-sm:px-4;
  }

  .caption {
    @apply small-2 mb-5 uppercase text-p3;
  }

  .scroll-hide::-webkit-scrollbar {
    display: none;
  }

  .scroll-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* END of Common */

}